<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftLinkExample_iOS_Dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftLinkExample_iOS_Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwiftLinkExample_macOS_Dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>SwiftLinkExample_macOS_Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SwiftLinkExample_tvOS_Dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SwiftLinkExample_tvOS_Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SwiftLinkExample_watchOS_WatchKit_App_Dynamic (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwiftLinkExample_watchOS_WatchKit_App_Dynamic (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>SwiftLinkExample_watchOS_WatchKit_App_Dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SwiftLinkExample_watchOS_WatchKit_App_Static (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SwiftLinkExample_watchOS_WatchKit_App_Static (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>SwiftLinkExample_watchOS_WatchKit_App_Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>SwiktExample_macOS_Dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>SwiktExample_tvOS_Dynamic.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>SwiktExample_watchOS_WatchKit_App_Static (Complication).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>SwiktExample_watchOS_WatchKit_App_Static (Notification).xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>SwiktExample_watchOS_WatchKit_App_Static.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>SwiktExample_watchOS_WatchKit_Extension_Dynamic_Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>SwiktExample_watchOS_WatchKit_Extension_Static_Tests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183DE2D928342AFF006B8798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DE2DC28342AFF006B8798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DE30A28342B29006B8798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DE30D28342B29006B8798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DE33D28342B5D006B8798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DE34F28343941006B8798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185664AF282EE11E00B48A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185664C1282EE43500B48A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>185664CC282EE44500B48A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E89B7D283EF8CC00C08C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E89B99283EF96700C08C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E89BB5283EFD4800C08C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E89BC3283EFD7500C08C9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
