root = true

[*]
charset = utf-8
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*{.yml,yaml,apinotes}]
indent_style = space
indent_size = 2

[swiftpoet/**/*.kt]
indent_size = 2
