root = true

[*]
charset = utf-8
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
max_line_length = 160
ij_visual_guides = 140, 160

[*.{yml,yaml,apinotes}]
indent_style = space
indent_size = 2

[*.{md,mdx}]
# Cannot be off because that defaults to editor settings
max_line_length = 10000
