/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback');

/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
/*@import 'additional-styles/theme.css';*/

.auto-height {
    max-width: 100%;
    height: auto;
}

.navbar {
    opacity: .9;
}

/* You can override the default Infima variables here. */
:root {
    /*--ifm-color-primary: #007521;*/
    /*--ifm-color-primary-dark: #00691e;*/
    /*--ifm-color-primary-darker: #00631c;*/
    /*--ifm-color-primary-darkest: #005217;*/
    /*--ifm-color-primary-light: #008124;*/
    /*--ifm-color-primary-lighter: #008726;*/
    /*--ifm-color-primary-lightest: #00982b;*/
    --ifm-color-primary: #006b6b;
    /*--ifm-color-primary-dark: #006060;*/
    --ifm-color-primary-darker: #005b5b;
    /*--ifm-color-primary-darkest: #004b4b;*/
    --ifm-color-primary-light: #007676;
    /*--ifm-color-primary-lighter: #007b7b;*/
    --ifm-color-primary-lightest: #008b8b;

    /*--ifm-color-primary: #668f00;*/
    --ifm-color-primary-dark: #5c8100;
    /*--ifm-color-primary-darker: #577a00;*/
    --ifm-color-primary-darkest: #476400;
    /*--ifm-color-primary-light: #709d00;*/
    --ifm-color-primary-lighter: #75a400;
    /*--ifm-color-primary-lightest: #85ba00;*/
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #17d1d1;
    --ifm-color-primary-dark: #15bcbc;
    --ifm-color-primary-darker: #14b2b2;
    --ifm-color-primary-darkest: #109292;
    --ifm-color-primary-light: #19e6e6;
    --ifm-color-primary-lighter: #24e7e7;
    --ifm-color-primary-lightest: #43eaea;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
