name: Publish Plugin

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-[a-zA-Z0-9]*'

jobs:
  gradle:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    env:
      RELEASE_VERSION: ${{ github.ref_name }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          submodules: true
          token: ${{ secrets.ACCEPTANCE_TESTS_TOKEN }}
      - name: Prepare Worker
        uses: ./.github/actions/prepare-worker
      # TODO Ensure all tests pass
      - name: Replace data
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: 'replaceData'
          build-root-directory: SKIE
        env:
          SKIE_REPLACEMENT_STRING: ${{ secrets.SKIE_REPLACEMENT_STRING }}
      - name: Publish to Maven Central
        uses: gradle/gradle-build-action@v2.4.2
        with:
          arguments: 'publishToMavenCentral'
          build-root-directory: SKIE
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ""
